@import "materialize";

.nav-wrapper{
  background-color: #5497C4;
  height:73px !important;
}
#color-bar{
  background-color: #6ABD45;
  width: 100%;
  height: 80px;
  margin-top: 6px;
}
body{
  background-color: blue;
}