@import "materialize";
$tbi-blue: #5497C4;
$tbi-green: #6ABD40;

@mixin navbar-text() {
  font-size: 14pt;
  font-weight: bold;
  font-family: sans-serif;
}
.nav-wrapper{
  background-color: $tbi-blue;
  height:73px !important;
}
.navbar-link{
  @include navbar-text;
  border-right: 2px solid black;
  font-family: sans-serif;
}
.dropdown-content>li>a{
  @include navbar-text;
  color: $tbi-blue !important;
}
#color-bar{
  background-color: $tbi-green;
  width: 100%;
  height: 80px;
  margin-top: 6px;
}
#login-link{
  @include navbar-text;  
  font-size: 18pt;
  color: white;
  background-color: $tbi-blue;
  margin-right: 10px;
  margin-top: 4px;
  height: 75px;
  width: 80px;
  border: 2px solid white;
}
#philosophy-card{
  border: 5px solid $tbi-green;
  font-size: 13pt;
  font-family: serif;
  font-weight: bolder;
}
body{
  background-color: $tbi-blue;
}
strong{
  text-decoration: underline;
}