<nav>
  <div class="nav-wrapper navbar" role='menubar'>
    <img id='tbi-navbar-logo'src='tbi_logo.png' class='left' role='presentation' />
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class='navbar-link' href="sass.html">Home</a></li>
      <li><a class='navbar-link' href="sass.html">Philosophy</a></li>
      <li><a class="dropdown-button navbar-link" href="#!" data-activates="community-dropdown">Community<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button navbar-link" href="#!" data-activates="new-life-dropdown">New Life<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class='navbar-link'href="mobile.html">Health</a></li>
      <li><a class='navbar-link'href="mobile.html">Meet Us</a></li>
      <li><a class='navbar-link'href="mobile.html">Contact</a></li>
      <li><a class='navbar-link'href="mobile.html">Make Account</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>
<div id='color-bar'>
  <a id='login-link' class='right' href='/sessions/new'>Login</a>
</div>
  <ul id="community-dropdown" class="dropdown-content">
    <li><a href="#!">Survivors</a></li>
    <li class="divider"></li>
    <li><a href="#!">Families</a></li>
    <li class="divider"></li>
    <li><a href="#!">Health Professionals</a></li>
    <li class="divider"></li>
    <li><a href="#!">Community Partners</a></li>
    <li class="divider"></li>
    <li><a href="#!">TBI Perspective</a></li>
  </ul>
  <ul id="new-life-dropdown" class="dropdown-content">
    <li><a href="#!">Programs</a></li>
    <li class="divider"></li>
    <li><a href="#!">Calendar</a></li>
    <li class="divider"></li>
    <li><a href="#!">Join Us!</a></li>
  </ul>
