<div class="row">
    <div class="col s12 m5">
      <div class="card-panel" id='philosophy-card'>
        <h3 class="center">Our Philosophy</h3>
        <span >Founded by and focused upon brain injury survivors, impacted families, and proactive health practitioners who are encouraging lifelong <strong>functional health </strong>and <strong>stability post-trauma</strong>, TBI:Alive is Colorado's  <strong>brain injury reintegration resource</strong>. </span></br></br>
        <span >A conscious focus on fundamental physical, emotional, psychological, and community health is essential to realizing stability and happiness post-trauma.  Educational and recreational activities encouraging worthwhile self-regard and realistic goal setting help to build upon each participant’s positive foundation, while sensible affirmations and constructive feedback within an engaging community serve to support the ideals of acceptance and evolution following cognitive trauma.</span></br></br>
​       <span >TBI:Alive activities, educational opportunities, programming, and professional outreach encourage cognitive and emotional ﬁtness through healthy social interaction, enjoyable community activities, and engaging lifestyle tools.  Such conscious personal health strategies promote worthwhile identity for  survivors and families to engage the world from a stable platform, encouraging self-awareness, stability, and contentment within each health-promoting pursuit. 
       </span>
 
      </div>
    </div>
  </div>